run = "npm run dev"
entrypoint = "src/app/page.tsx"

[languages]
language = "nodejs"

[languages.nodejs]
pattern = "**/*.{js,jsx,ts,tsx}"
syntax = "typescript"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"
ignorePorts = true
